/* Reset de CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

title{color: brown;}

body{background-image: url(../images/fondo.png);
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, sans-serif;}

img.Logo:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}

img.Logo{
    text-align: left;
    float: left;
    width: 100px;
    height: 100px;
}

.negrita:hover{
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: bold;
}

    .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    border: 1px solid #000000;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

img{width: 100px;
    height: 100px;}

div h1{color: solid black;
        font-style: normal;
        font-size: 40px;}

h1 { color: rgb(233, 146, 32);
    background-color: rgb(65, 28, 10);
    background-clip: content-box;
    font-size: 60px;
    font-style: bold;
    text-align: center;
    font-variant: small-caps;
}

header h1{
    color: rgb(233, 146, 32);
    background-color: rgb(65, 28, 10);
    background-clip: content-box;
    font-size: 83px;
    font-style: bold;
    text-align: center;
    font-variant: small-caps;
}

section h2{color: rgb(255, 255, 255);
    margin: 20px;
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    top: 10px;
    font-size: 50px;
    }

h2{
    color: rgb(255, 255, 255);
    
}

html body h2 {
    color: rgb(233, 146, 32);
}

    p{  
        font-size: 20px;
        text-indent: 20px;
        color: rgb(255, 255, 255);
    }

nav {
    background-color: rgb(65, 28, 10);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.barra{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
color: rgb(233, 146, 32);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

button{
    justify-content: right;
}

@media (max-width: 425px){
    body{
        padding: 10px;
        text-size-adjust: 70%;
        font-weight: 500;
    }

    h1{
        font-variant: small-caps;
        letter-spacing: 1px;
    }

    .parrafo{
        font-size: 150%;
        line-height: 1.2;
    }


}
